@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: #B0D9B1;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #79AC78;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #618264;
}

.btn {
  font-size: 1.6rem;
  color: #fff;
  border-color: #79AC78;
  background-color: #79AC78;
  transition: all 0.5s 0s ease-in;
}
.btn:hover {
  color: #004225;
  border-color: #004225;
  background-color: #B0D9B1;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 1rem;
}

@media screen and (max-width: 575px) {
  .carousel {
    display: none;
  }
}
.carousel .carousel-indicators .bg-color {
  background-color: #618264 !important;
}
.carousel .btn-carousel {
  background: rgba(121, 172, 120, 0.38);
}

.navbar {
  width: 100%;
  transition: top 0.3s;
}

.container-fluid a img {
  width: 90px;
}
.container-fluid a h3 {
  line-height: 0;
  padding-bottom: 1rem;
  color: #79AC78;
  font-size: 1.7rem;
  font-weight: 700;
}
.container-fluid a h3:hover {
  color: #004225;
}
.container-fluid .link-secondary {
  font-size: 3rem;
}
.container-fluid .link-secondary i {
  color: #B0D9B1;
}
.container-fluid .link-secondary i.fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-fluid .link-secondary i.fa-square-facebook:hover {
  color: #3b5998;
}
.container-fluid .link-secondary i.fa-whatsapp:hover {
  color: #25D366;
}
.container-fluid .nav-collap .navbar-nav {
  text-align: end;
}
.container-fluid .nav-collap .navbar-nav .nav-item .nav-link {
  color: #79AC78;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s ease-in-out;
}
.container-fluid .nav-collap .navbar-nav .nav-item .nav-link:hover {
  color: #004225;
  border-bottom: 1px solid #79AC78;
}
@media screen and (max-width: 991px) {
  .container-fluid .nav-collap .navbar-nav .nav-item .nav-link:hover {
    line-height: normal;
  }
}
@media screen and (max-width: 991px) {
  .container-fluid .nav-collap .navbar-nav .nav-item .nav-link {
    display: inline-block;
    line-height: normal;
  }
}

.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 2px;
  width: 23px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
.navbar-toggler span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler {
  background: #79AC78;
  padding: 1.5rem;
  border-radius: 4rem;
  box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.34);
}

footer .nav .nav-item .nav-link {
  color: #618264 !important;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s ease-in-out;
}
footer .nav .nav-item .nav-link:hover {
  border-bottom: 1px solid #004225;
}
footer .footer-color {
  color: #004225 !important;
}

@media screen and (max-width: 575px) {
  .sobre-nosotros {
    padding: 0;
  }
}
.sobre-nosotros div .sobre-title h3 {
  background-image: url("./../img/img-title/about-title.webp");
  background-position: center;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  color: #fff;
  padding: 1rem;
}
@media screen and (max-width: 575px) {
  .sobre-nosotros div .sobre-title {
    padding-top: 1rem;
  }
}

.sobre-img-sub {
  height: 200px;
  width: 425px;
}
@media screen and (max-width: 768px) {
  .sobre-img-sub {
    height: 425px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .sobre-img-sub {
    height: auto;
    width: 425px;
  }
}

.inicio-portada {
  width: 100%;
  overflow: hidden;
}
.inicio-portada .inicio-portada-container img {
  width: 100%;
  height: 800px;
}
@media screen and (max-width: 1279px) {
  .inicio-portada .inicio-portada-container img {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .inicio-portada .inicio-portada-container img {
    height: 300px;
  }
}
.inicio-portada .inicio-portada-container .inicio-portada-title {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.inicio-portada .inicio-portada-container .inicio-portada-title svg text {
  font-family: "Dancing Script", cursive;
  letter-spacing: 20px;
  stroke: #ffa5d8;
  font-size: 200px;
  font-weight: 200;
  stroke-width: 2;
  animation: textAnimate 6s infinite alternate;
}
@media screen and (max-width: 1279px) {
  .inicio-portada .inicio-portada-container .inicio-portada-title svg text {
    font-size: 150px;
    letter-spacing: 10px;
    stroke-width: 1;
  }
}
@media screen and (max-width: 768px) {
  .inicio-portada .inicio-portada-container .inicio-portada-title svg text {
    letter-spacing: 6px;
    font-size: 68px;
  }
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #79AC78;
  }
  50% {
    stroke-dasharray: 25% 0;
    stroke-dashoffstet: -5%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%, 0);
  }
}
.inicio-portada .inicio-portada-container .inicio-portada-title h1 {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  font-size: 4.8rem;
  font-size: 4.8rem;
  position: absolute;
  top: 57%;
  left: 50%;
}
@media screen and (max-width: 1279px) {
  .inicio-portada .inicio-portada-container .inicio-portada-title h1 {
    letter-spacing: 2px;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .inicio-portada .inicio-portada-container .inicio-portada-title h1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 576px) {
  .inicio-portada .inicio-portada-container .inicio-portada-title h1 {
    left: 40%;
  }
}

.productos {
  padding: 0;
}
.productos div .productos-title {
  background-image: url("./../img/img-title/about-title.webp") !important;
  background-position: center;
}
.productos div h3 {
  background-position: center;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  height: 100px;
}
.productos div.container-fluid {
  width: 75%;
}
@media screen and (max-width: 1200px) {
  .productos div.container-fluid {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .productos div.container-fluid .row {
    padding: 2rem;
  }
}
.productos div.container-fluid .row .col {
  padding: 1rem;
  align-items: center;
}
.productos div.container-fluid .row .col .card {
  border: none;
  transition: scale 0.7s ease-out;
}
.productos div.container-fluid .row .col .card:hover {
  scale: 1.02;
}
.productos div.container-fluid .row .col .card .card-img-top {
  width: 100%;
}
.productos div.container-fluid .row .col .card .card-body {
  border: 1px solid #79AC78;
  border-top: none;
  border-end-end-radius: 2rem;
  border-end-start-radius: 2rem;
}

.preguntas-frecuentes {
  overflow: hidden;
}
.preguntas-frecuentes h3 {
  background-image: url("./../img/img-title/about-title.webp");
  background-position: center;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}
.preguntas-frecuentes .card-body {
  width: 50% !important;
  margin-left: 25% !important;
}
@media screen and (max-width: 1536px) {
  .preguntas-frecuentes .card-body {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .preguntas-frecuentes .card-body {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

.btn-pregunta {
  width: 50%;
  background: #79AC78;
  color: #fff;
  font-size: 2rem;
  transition: all 0.7s;
}
.btn-pregunta:hover {
  color: var(--green-0) !important;
  background-color: #79AC78 !important;
  transition: all 0.7s;
}
@media screen and (max-width: 1200px) {
  .btn-pregunta {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .btn-pregunta {
    width: 100%;
  }
}

.contacto {
  width: 100%;
}
.contacto h3 {
  background-image: url("./../img/img-title/about-title.webp");
  background-position: center;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}
.contacto .container {
  padding: 1rem 3rem 1rem 3rem;
}
@media screen and (max-width: 575px) {
  .contacto .container {
    padding: 1rem 0.5rem;
  }
}
.contacto .container .form form {
  padding: 1rem 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #B0D9B1;
}
.contacto .container .form form div {
  margin: 0 !important;
}
.contacto .container .form form div input {
  font-size: 1.6rem;
  padding: 0.5rem;
}
.contacto .container .form form div textarea {
  font-size: 1.6rem !important;
  height: 150px;
}
@media screen and (max-width: 1536px) {
  .contacto .container .form form div .btn {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
