@mixin inicio-title {
    color: #fff;
    font-family: $fuente-titulo;
    font-weight: 800;
    font-size: $font-xxl;
}

@mixin sub-title{
    font-family: $fuente-titulo;
    font-weight: 800;
    color: $color-verde-1;
    border-bottom: 1px solid $color-verde-2;
    margin-bottom: 1rem
}

@mixin mb( $medida: 480px){
    @media screen and (max-width: $medida ) {
        @content;
    }
}