@mixin about-title {
    color: $color-verde-1;
    font-family: $fuente-titulo;
    font-weight: 800;
    font-size: $font-xxl;
}

@mixin sub-title{
    color: $color-verde-1;
    border-bottom: 1px solid $color-verde-2;
    margin-bottom: 1rem
}