
// Colores

$color-verde-1: #004225;
$color-verde-2: #618264;
$color-verde-3: #79AC78;
$color-verde-4: #B0D9B1;
$color-negro: #000;


// font

$fuente-principal: 'Montserrat', sans-serif;
$fuente-titulo: 'Dancing Script', cursive;

// size

$font-small: 1rem;
$font-medium: 1.6rem;
$font-xl: 3rem;
$font-xxl: 5rem;