.navbar {
    width: 100%;
    transition: top .3s;
}
.container-fluid{
    a{
    img{
        width: 100px;
    }
    h3{
        line-height: 0;
        padding-bottom: 1rem;
        color: $color-verde-3;
        font-size: 1.7rem;
        font-weight: 700;

        &:hover{
            color: $color-verde-1;
        }
    }
    }
    .link-secondary{
        font-size: $font-xl;
        i{
            color: $color-verde-4;
        &.fa-instagram:hover{
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

        }
        &.fa-square-facebook:hover{
            color: #3b5998;
        }
        &.fa-whatsapp:hover{
            color: #25D366;
        }
        }
    }
    .nav-collap{
        .navbar-nav{
            text-align: end;
            
        .nav-item {
        .nav-link {
            color: $color-verde-3;
            border-bottom: 1px solid transparent;
            transition: border-bottom .4s ease-in-out;
            &:hover{
                color: $color-verde-1;
                border-bottom: 1px solid $color-verde-3;
                @include mb(991px) {
                    line-height: normal;
                }
            }
            @include mb(991px){ 
                display: inline-block;
                line-height: normal;
            }
        }
        }
    }
    }
}

.navbar-toggler{
    & span {
        display: block;
        background-color: #4f4f4f;
        height: 2px;
        width: 23px;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        left: 0;
        opacity: 1;
        transition: all 0.35s ease-out;
        transform-origin: center left;
    &:nth-child(1) {
        // margin-top: 0.1em;
        transform: translate(15%, -33%) rotate(45deg);
    }

    &:nth-child(1){
        transform: translate(0%, 0%) rotate(0deg) ;

    }
    &:nth-child(2){
        opacity: 1;

    }
    &:nth-child(3){
        transform: translate(0%, 0%) rotate(0deg) ;

    }
}
    &:not(.collapsed) span:nth-child(1){
        transform: translate(15%, -33%) rotate(45deg);
        
    }
    &:not(.collapsed) span:nth-child(2){
        opacity: 0;
    }
    &:not(.collapsed) span:nth-child(3){
        transform: translate(15%, 33%) rotate(-45deg)
    }
}
