
/* Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;

}
body {
    font-family: $fuente-principal;
    font-size: $font-medium;
    background: $color-verde-4;
}
img {
    width: 100%;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

textarea {
    resize: none;
}
