.sobre-nosotros {
    @include mb(575px){
        padding: 0;
    }
    div{

        .sobre-title{

            h3{
                background-image: url('./../img/img-title/about-title.webp');
                @include sub-title;
                color: #fff;
                padding: 1rem;
            }
            @include mb(575px){
                padding-top: 1rem;
        
            }
        
    }
    }
}
.sobre-img-sub{
    height: 200px;
    width: 425px;
    @include mb(768px){
        height: 425px;
        width: 100%;
    }
    @include mb(576px){
        height: auto;
        width: 425px;
    }
}