.contacto{
    width: 100%;

h3{
    background-image: url('./../img/img-title/about-title.webp');

    @include sub-title;
}
.container{
    padding: 1rem 3rem 1rem 3rem;
    @include mb(575px){
        padding: 1rem .5rem;
    }
    .form{
        form{
            padding: 1rem 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background: $color-verde-4;
            div{
                margin: 0!important;
                input{
                    font-size: $font-medium;
                    padding: .5rem;
                }
            & textarea{
                font-size: 1.6rem;
                height: 150px;
            }
            & .btn{
            @include mb(1536px){
                width: 100%!important;
            }
            }
            }
        }
    }
    
    }
}


