.preguntas-frecuentes{
    h3{
        background-image: url('./../img/img-title/about-title.webp');
        @include sub-title;

    }
    .card-body{
        width: 50%!important;
        margin-left: 25%!important;
        @include mb(1536px){
            width: 100%!important;
            margin-left: 0!important;
        }
        @include mb(768px){
            width: 100%!important;
            margin-left: 0!important;
        }
    }

}


.btn-pregunta{
    width: 50%;
    background: $color-verde-3;
    color: #fff;
    font-size: 2rem;
    transition: all .7s;
    &:hover{
        color: var(--green-0)!important;
        background-color: $color-verde-3!important;
        transition: all .7s;
    }
    @include mb(1536px){
        width: 100%;
    }
    @include mb(768px){
        width: 100%;
    }

}