.preguntas-frecuentes{
    text-align: center;
    h3{
        width: 97%;
        @include sub-title;

    }

}


.btn-pregunta{
    width: 100%;
    background: $color-verde-3;
    color: #fff;
    font-size: 2rem;
    transition: all .7s;
    &:hover{
        color: var(--green-0)!important;
        background-color: $color-verde-3!important;
        transition: all .7s;
    }
}