.productos{
    padding: 0;
div{
    .productos-title{
        background-image: url('./../img/img-title/about-title.webp')!important;
        background-position: center;
    }
    h3{
        @include sub-title;
        height: 100px;
    }
.row{
    @include mb(575px){
        padding: 2rem;
    }
    .col{
        padding: 1rem;
        align-items: center;
    .card{
        border: none;
        transition: scale .7s ease-out;        
        &:hover{
            scale: 1.02;
        }
        .card-body{
            border: 1px solid $color-verde-3;
            border-top: none;
            border-end-end-radius: 2rem;
            border-end-start-radius: 2rem;
        }
}
}
}
}
}